<table>
  <thead>
    <tr>
      <th>Match Date</th>
      <th>Home Team</th>
      <th>Score Home</th>
      <th>Score Away</th>
      <th>Away Team</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% football_matches.each do |football_match| %>
    <div class="modal fade" id="myModal-<%= football_match.id %>" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p><%= football_match.home_team.name %></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
      <tr>
        <td><%= l(football_match.match_date, format: :date_with_time) %></td>
        <td><%= football_match.home_team.name %></td>
        <td><%= football_match.home_team_score || 0 %></td>
        <td><%= football_match.away_team_score || 0 %></td>
        <td><%= football_match.away_team.name %></td>
        <td><%= button_tag 'Place Bet',  html_options = { remote: true, type: "button", class: "btn btn-info btn-sm", 'data-toggle' => "modal", 'data-target' => "#myModal-#{football_match.id}" } if football_match.can_place_bet? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
