<!DOCTYPE html>
<html>
  <head>
    <title>Typper</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%= render 'layouts/menu' %>
    <%= render 'layouts/bootstrap_flash_messages'%>
    <%= yield %>
    <div id="modal-holder"></div>
  </body>
</html>
